@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.violet-gradient {
  background: linear-gradient(180deg, rgb(139 92 246) 0%, rgba(139, 92, 246, 0) 100%);
}

.bg-hero-pattern {
  background-color: #13111C;
  background-image: 
    radial-gradient(at 0% 0%, rgb(139 92 246 / 0.15) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(139 92 246 / 0.15) 0, transparent 50%);
}